<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %><label> "<%= @lastcomment.article_id %>"</label></div>
  <% end %>
  <% if flash[:update] %>
    <div class="notice"><%= flash[:update] %> </div>
  <% end %>
  <% if flash[:delete] %>
    <div class="notice"><%= flash[:delete] %> </div>
  <% end %>
<table>
  <tr>
    <th>Body</th>
    <th>aritcle_id</th>
    <th colspan="2"></th>
  </tr>
<tr><td><%= link_to 'New comment', new_comment_path %></td>></tr> 
<% @comment.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= comment.article_id %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to "Delete", comment_path(comment), :confirm => "Are you sure?", :method=>:delete %></td>
  </tr>
<% end %>
</table>