<% if @comment.blank? %>
<p>There are not any comments currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>
<ul id="comments">
<% @aticles.each do |c| %>
<li><%= link_to c.title, {:action => 'show', :id => c.id} -%></li>
<% end %>
</ul>
<% end %>
<p><%= link_to "Add new comments", {:action => 'new' }%></p>
