<%= form_for @comment do |f| %>
  <% if @comment.errors.full_messages.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <% end %>
    </ul>
  </div>
  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :article_id %><br>
    <%= f.text_field :article_id %>
  </p>
 
  <p>
    <%= f.submit :create %>
  </p>
<% end %>
<%= link_to 'Back', comments_path %>
 
