  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %><label> "<%= @lastarticle.title %>"</label></div>
  <% end %>
  <% if flash[:update] %>
    <div class="notice"><%= flash[:update] %> </div>
  <% end %>
  <% if flash[:delete] %>
    <div class="notice"><%= flash[:delete] %> </div>
  <% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
<tr><td><%= link_to 'New article', new_article_path %></td>></tr> 
<% @article.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to "Delete", article_path(article), :confirm => "Are you sure?", :method=>:delete %></td>
  </tr>
<% end %>
</table>