<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.body %>
</p>
<p><%= link_to "Add new Articles", {:action => 'new' }%></p>
<p><%= link_to "Delete Articles", {:action => 'destroy' }%></p>

