  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %><label> "<%= @lastcountry.name %>"</label></div>
  <% end %>
  <% if flash[:update] %>
    <div class="notice"><%= flash[:update] %> </div>
  <% end %>
  <% if flash[:delete] %>
    <div class="notice"><%= flash[:delete] %> </div>
  <% end %>
<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
<tr><td><%= link_to 'New country', new_country_path %></td>></tr> 
<% @country.each do |country| %>
  <tr>
    <td><%= country.code %></td>
    <td><%= country.name %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to "Delete", country_path(country), :confirm => "Are you sure?", :method=>:delete %></td>
  </tr>
<% end %>
</table>