<%= form_for @country do |f| %>
  
  <div id="error_explanation">
    <h2><%= pluralize(@country.errors.count, "error") %> prohibited
      this country from being saved:</h2>
    <ul>
    <% @country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <p>
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </p>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </p>
 
  <p>
    <%= f.submit :create%>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
 
