<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <tr>
    <td><%= @country.code %></td>
    <td><%= @country.name %></td>
    <td><%= link_to 'Edit', edit_country_path(@country) %></td>
    <td><%= link_to "Delete", country_path(@country), :confirm => "Are you sure?", :method=>:delete %></td>
  </tr>
  <td><%= link_to 'Back', countries_path %></td>
</table>