<h1>Editing user</h1>
 
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_area :last_name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.text_area :date_of_birth %>
  </p>
  <p>
    <%= f.label :user_name %><br>
    <%= f.text_area :user_name %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.text_area :password %>
  </p>
   <p>
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </p>
   <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :countries_id %><br>
    <%= f.text_area :countries_id %>
  </p>
 
  <p>
    <%= f.submit :create %>
  </p>
<% end %>
 
<%= link_to 'Back', users_path %>