  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %><label> "<%= @lastuser.first_name %>"</label></div>
  <% end %>
  <% if flash[:update] %>
    <div class="notice"><%= flash[:update] %> </div>
  <% end %>
  <% if flash[:delete] %>
    <div class="notice"><%= flash[:delete] %> </div>
  <% end %>
<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
<tr><td><%= link_to 'New user', new_user_path %></td>></tr> 
<% @user.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to "Delete", user_path(user), :confirm => "Are you sure?", :method=>:delete %></td>
  </tr>
<% end %>
</table>