<h1>Sign Up</h1> 
 
<%= form_for @user do |f| %> 
  <% if @user.errors.full_messages.any? %> 
    <div class="error_messages"> 
      <h2>Form is invalid</h2> 
      <ul> 
        <% for message in @user.errors.full_messages %> 
          <li><%= message %></li> 
        <% end %> 
      </ul> 
    </div> 
  <% end %> 
  p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_area :last_name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.text_area :date_of_birth %>
  </p>
  <p>
    <%= f.label :user_name %><br>
    <%= f.text_area :user_name %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.text_area :password %>
  </p>
   <p>
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </p>
   <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :countries_id %><br>
    <%= f.text_area :countries_id %>
  </p>
 
  <p>
  <p> 
    <%= f.label :email %><br /> 
    <%= f.text_field :email %> 
  </p> 
  <p> 
    <%= f.label :password %><br /> 
    <%= f.password_field :password %> 
  </p> 
  <p> 
    <%= f.label :password_confirmation %> 
    <%= f.password_field :password_confirmation %> 
  </p> 
  <p class="button"><%= f.submit %></p> 
<% end %>
