<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>
<tr><td><%= link_to 'New product', new_product_path %></td>></tr> 
<% @product.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= product.stock %></td>
    <td><%= product.description %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to "Delete", product_path(product), :confirm => "Are you sure?", :method=>:delete %></td>
  </tr>
<% end %>
</table>